.app-bg {
  min-height: 100vh;
  background-image: url("https://res.cloudinary.com/dkv58dvqy/image/upload/v1765992928/d8d1b8ac7d29e2cb90018562f2511e9e_vszjff.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

/* overlay global */
.app-bg::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 0;
  pointer-events: none;
}
